@import "variables";
@import "mixins";

/*

Template: Vegan Cafe - Vegan cafe HTML5 Template
Author: lusterka.by
Version: 1.0
Design and Developed by: lusterka.by

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template.

*/

/*================================================
[  Table of contents  ]
================================================

:: General
:: Header
:: Feature-box
:: Service
:: Counter
:: Gallery
:: Video
:: Content middle
:: About
:: Team
:: Book menu
:: Our menu
:: Owl carousel
:: Pricing Grid
:: Testimonials
:: Pleasure
:: Inner intro
:: Custom content
:: Skills
:: Accordion
:: Reservation
:: Contact
:: Error page
:: Coming soon
:: Pagination
:: Upcoming-event
:: Newsletter
:: Blog page
:: Alerts and callouts
:: Footer

======================================
[ End table content ]
======================================*/


@import "general";
@import "header";
@import "slider";
@import "about";

