/*************************
    General
*************************/
body {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px; }

a, .btn {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

a {
  color: #fff; }
  a:focus, a:active, a:hover {
    color: #fff;
    text-decoration: none;
    outline: none; }

a, button, input {
  outline: medium none; }

.uppercase {
  text-transform: uppercase; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #202020;
  margin-top: 0px; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit; }

h1 {
  font-size: 60px;
  font-style: normal;
  line-height: 60px; }

h2 {
  font-size: 48px;
  font-style: normal;
  line-height: 48px; }

h3 {
  font-size: 32px;
  font-style: normal;
  line-height: 32px; }

h4 {
  font-size: 22px;
  font-style: normal;
  line-height: 22px; }

h5 {
  font-size: 18px;
  font-style: normal;
  line-height: 18px; }

h6 {
  font-size: 16px;
  font-style: normal;
  line-height: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

p {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #9d9d9d; }

label {
  font-size: 15px;
  font-weight: 400; }

.label {
  color: #fff;
  font-size: 9px; }

*::-moz-selection {
  background: #1e2327;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #1e2327;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #1e2327;
  color: #fff;
  text-shadow: none; }

/***************************
Page section margin padding
****************************/
.page-section-ptb {
  padding: 80px 0; }

.page-section-pt {
  padding: 80px 0 0; }

.page-section-pb {
  padding: 0 0 80px; }

/*************************
    Section title
***********************/
.section-title {
  margin-bottom: 50px;
  padding: 0 100px; }

.section-title h2 {
  font-size: 50px;
  padding-bottom: 15px;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px; }

.section-title p {
  font-style: italic;
  font-size: 14px;
  display: block;
  margin-top: 10px;
  margin-bottom: 0px; }

/*************************
     button
*************************/
.btn {
  background: #7FCC2B;
  color: #fff;
  padding: 10px 30px;
  border-radius: 3px;
  border: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  position: relative; }
  .btn:hover {
    background: #72b727; }
  .btn:focus, .btn:active, .btn:hover {
    text-decoration: none;
    outline: none;
    color: #fff; }

/*************************
    background color
*************************/
.white-bg {
  background: #fff; }

.main-bg {
  background: #7FCC2B; }

.black-bg {
  background: #1e2327; }

.gray-bg {
  background: #f5f5f5; }

/*************************
    Text color
*************************/
.text-main {
  color: #7FCC2B; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.text-gray {
  color: #5E6977; }

.text-light-gray {
  color: #bfc7ce; }

/*************************
    Input
*************************/
input {
  background: transparent;
  border-radius: 3px;
  border: 1px solid #fff;
  height: 45px;
  padding-right: 45px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 14px;
  color: #626262;
  width: 100%; }

select {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  height: 45px;
  padding-left: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 14px;
  color: #626262; }

option {
  background: #fff;
  border: 0px solid #626262;
  padding-left: 10px;
  font-size: 14px; }

input:focus {
  background: transparent;
  border: 1px solid #626262;
  -webkit-box-shadow: none;
  box-shadow: none; }

textarea {
  resize: vertical;
  border-radius: 3px;
  background: transparent;
  border: 1px solid #fff;
  padding: 15px;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 14px; }

textarea:focus {
  background: transparent;
  border: 1px solid #7FCC2B;
  outline: none; }

.form-control {
  border-radius: 0px;
  height: auto;
  line-height: 1.33333;
  padding: 15px 18px 15px 30px;
  background: transparent;
  color: #aaaaaa;
  border: 0px solid transparent; }

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0px solid #2046f2; }

.form-control.input-lg {
  resize: none;
  font-size: .9em; }

.form-control.rounded {
  border-radius: 0px; }

.input-group-addon {
  border: 1px solid #e0e0e0; }

.form-group label {
  color: #353535;
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-size: 13px; }

.form-inline button {
  margin: 0px; }

.form-group > label {
  display: block; }

.form-control::-moz-placeholder {
  color: #aaaaaa; }

.form-control::-ms-input-placeholder {
  color: #aaaaaa; }

.form-control::-webkit-input-placeholder {
  color: #aaaaaa; }

.table-bordeblue > tbody > tr > td, .table-bordeblue > tbody > tr > th, .table-bordeblue > tfoot > tr > td, .table-bordeblue > tfoot > tr > th, .table-bordeblue > thead > tr > td, .table-bordeblue > thead > tr > th {
  border-color: #e0e0e0;
  padding: 12px 20px; }

table tr td a {
  color: #7FCC2B; }

/*************************
    elements css
*************************/
/*columns page*/
.columns .gray-bg {
  padding: 15px; }

/*list-style*/
.list li {
  list-style: none;
  line-height: 28px;
  color: #9d9d9d;
  list-style-position: outside; }

.list li i {
  padding-right: 10px;
  color: #7FCC2B; }

/*************************
 Basic margin padding
*************************/
.m-0 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px; }

.p-0 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }

/*************************
     Margin top
*************************/
.mt-0 {
  margin-top: 0 !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-60 {
  margin-top: 60px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-80 {
  margin-top: 80px !important; }

.mt-90 {
  margin-top: 90px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mt-110 {
  margin-top: 110px !important; }

.mt-120 {
  margin-top: 120px !important; }

.mt-130 {
  margin-top: 130px !important; }

.mt-140 {
  margin-top: 140px !important; }

.mt-150 {
  margin-top: 150px !important; }

/*************************
    Margin right
*************************/
.mr-0 {
  margin-right: 0 !important; }

.mr-10 {
  margin-right: 10px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-20 {
  margin-right: 20px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-40 {
  margin-right: 40px !important; }

.mr-50 {
  margin-right: 50px !important; }

.mr-60 {
  margin-right: 60px !important; }

.mr-70 {
  margin-right: 70px !important; }

.mr-80 {
  margin-right: 80px !important; }

.mr-90 {
  margin-right: 90px !important; }

.mr-100 {
  margin-right: 100px !important; }

.mr-110 {
  margin-right: 110px !important; }

.mr-120 {
  margin-right: 120px !important; }

.mr-130 {
  margin-right: 130px !important; }

.mr-140 {
  margin-right: 140px !important; }

.mr-150 {
  margin-right: 150px !important; }

/*************************
    Margin bottom
*************************/
.mb-0 {
  margin-bottom: 0 !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.mb-110 {
  margin-bottom: 110px !important; }

.mb-120 {
  margin-bottom: 120px !important; }

.mb-130 {
  margin-bottom: 130px !important; }

.mb-140 {
  margin-bottom: 140px !important; }

.mb-150 {
  margin-bottom: 150px !important; }

/*************************
    Margin left
*************************/
.ml-0 {
  margin-left: 0 !important; }

.ml-10 {
  margin-left: 10px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-20 {
  margin-left: 20px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-40 {
  margin-left: 40px !important; }

.ml-50 {
  margin-left: 50px !important; }

.ml-60 {
  margin-left: 60px !important; }

.ml-70 {
  margin-left: 70px !important; }

.ml-80 {
  margin-left: 80px !important; }

.ml-90 {
  margin-left: 90px !important; }

.ml-100 {
  margin-left: 100px !important; }

.ml-110 {
  margin-left: 110px !important; }

.ml-120 {
  margin-left: 120px !important; }

.ml-130 {
  margin-left: 130px !important; }

.ml-140 {
  margin-left: 140px !important; }

.ml-150 {
  margin-left: 150px !important; }

/*************************
    Padding top
*************************/
.pt-0 {
  padding-top: 0 !important; }

.pt-10 {
  padding-top: 10px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pt-50 {
  padding-top: 50px !important; }

.pt-60 {
  padding-top: 60px !important; }

.pt-70 {
  padding-top: 70px !important; }

.pt-80 {
  padding-top: 80px !important; }

.pt-90 {
  padding-top: 90px !important; }

.pt-100 {
  padding-top: 100px !important; }

.pt-110 {
  padding-top: 110px !important; }

.pt-120 {
  padding-top: 120px !important; }

.pt-130 {
  padding-top: 130px !important; }

.pt-140 {
  padding-top: 140px !important; }

.pt-150 {
  padding-top: 150px !important; }

/*************************
    Padding right
*************************/
.pr-0 {
  padding-right: 0 !important; }

.pr-10 {
  padding-right: 10px !important; }

.pr-15 {
  padding-right: 15px !important; }

.pr-20 {
  padding-right: 20px !important; }

.pr-30 {
  padding-right: 30px !important; }

.pr-40 {
  padding-right: 40px !important; }

.pr-50 {
  padding-right: 50px !important; }

.pr-60 {
  padding-right: 60px !important; }

.pr-70 {
  padding-right: 70px !important; }

.pr-80 {
  padding-right: 80px !important; }

.pr-90 {
  padding-right: 90px !important; }

.pr-100 {
  padding-right: 100px !important; }

.pr-110 {
  padding-right: 110px !important; }

.pr-120 {
  padding-right: 120px !important; }

.pr-130 {
  padding-right: 130px !important; }

.pr-140 {
  padding-right: 140px !important; }

/*************************
    Padding bottom
*************************/
.pb-0 {
  padding-bottom: 0 !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.pb-60 {
  padding-bottom: 60px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

.pb-80 {
  padding-bottom: 80px !important; }

.pb-90 {
  padding-bottom: 90px !important; }

.pb-100 {
  padding-bottom: 100px !important; }

.pb-110 {
  padding-bottom: 110px !important; }

.pb-120 {
  padding-bottom: 120px !important; }

.pb-130 {
  padding-bottom: 130px !important; }

.pb-140 {
  padding-bottom: 140px !important; }

.pb-150 {
  padding-bottom: 150px !important; }

/*************************
    Padding left
*************************/
.pl-0 {
  padding-left: 0 !important; }

.pl-10 {
  padding-left: 10px !important; }

.pl-15 {
  padding-left: 15px !important; }

.pl-20 {
  padding-left: 20px !important; }

.pl-30 {
  padding-left: 30px !important; }

.pl-40 {
  padding-left: 40px !important; }

.pl-50 {
  padding-left: 50px !important; }

.pl-60 {
  padding-left: 60px !important; }

.pl-70 {
  padding-left: 70px !important; }

.pl-80 {
  padding-left: 80px !important; }

.pl-90 {
  padding-left: 90px !important; }

.pl-100 {
  padding-left: 100px !important; }

.pl-110 {
  padding-left: 110px !important; }

.pl-120 {
  padding-left: 120px !important; }

.pl-130 {
  padding-left: 130px !important; }

.pl-140 {
  padding-left: 140px !important; }

.pl-150 {
  padding-left: 150px !important; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/*******************************************
             Loading
*******************************************/
#loading {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  right: 0px;
  z-index: 999999; }

#loading-center {
  width: 100%;
  height: 100%;
  position: relative; }

#loading-center img {
  text-align: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  z-index: 99;
  margin: 0 auto; }

/*************************
     back-to-top
*************************/
#back-to-top .top {
  z-index: 999;
  position: fixed;
  margin: 0px;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;
  bottom: 105px;
  right: 15px;
  border-radius: 3px;
  z-index: 999;
  background: transparent;
  font-size: 20px;
  background: #7FCC2B;
  width: 46px;
  height: 46px;
  text-align: center;
  line-height: 46px;
  border-radius: 3px; }

#back-to-top .top:hover {
  background: #1e2327; }
